<!DOCTYPE html>
<html xmlns:th=http://thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Access Jokes</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">Stierlin Joke Database</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/accessDB">Access DB</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/postgresDB">PostgreSql DB</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/mysqlDB">Mysql DB</a>
            </li>
        </ul>
    </div>
</nav>


<form action="#" th:action="@{/updateAccessDBJoke}" th:object="${accessJoke}" method="post" class="col-sm-6">
    <div class="form-group">
        <label for="jokeId">JokeId</label>
        <input type="number" class="form-control" id="jokeId" th:field="*{jokeId}" readonly>
        <label for="contentId">Content:</label>
        <input type="text" class="form-control" id="contentId" th:field="*{content}"/>
        <label for="ratingId">Rating:</label>
        <input type="number" class="form-control" id="ratingId" th:field="*{rating}"/>
        <label for="dateId">Date:</label>
        <input type="date" class="form-control" id="dateId" th:field="*{date}"/>
    </div>
    <p>
        <input type="submit" class="btn btn-success" value="Submit"/>
    </p>
</form>

<footer class="page-footer font-small blue fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://ethz.ch/services/en/organisation/departments/it-services/people/person-detail.MjQ3NTEx.TGlzdC8yMTE0LC04NTM1NzczMTQ=.html">Matthias
            Stierlin</a>
    </div>
</footer>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>