<!DOCTYPE html>
<html xmlns:th=http://thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Postgres Jokes</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<form action="#" th:action="@{/updatePostgresDBJoke}" th:object="${postgresJoke}" method="post" class="col-sm-6">
    <div class="form-group">
        <label for="jokeId">JokeId</label>
        <input type="number" class="form-control" id="jokeId" th:field="*{jokeId}" readonly>
        <label for="contentId">Content:</label>
        <input type="text" class="form-control" id="contentId" th:field="*{content}"/>
        <label for="ratingId">Rating:</label>
        <input type="number" class="form-control" id="ratingId" th:field="*{rating}"/>
        <label for="dateId">Date:</label>
        <input type="date" class="form-control" id="dateId" th:field="*{date}"/>
    </div>
    <p>
        <input type="submit" class="btn btn-success" value="Submit"/>
    </p>
</form>

<footer class="page-footer font-small blue fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://ethz.ch/services/en/organisation/departments/it-services/people/person-detail.MjQ3NTEx.TGlzdC8yMTE0LC04NTM1NzczMTQ=.html">Matthias
            Stierlin</a>
    </div>
</footer>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>